.table_container {
    margin: 20px 20px;
}


.filter-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
}

.button-position {
    position: relative;
    left: 100%;
    transform: translateX(-110%);
}

.field-chooser-container {
    position: relative;
}